body {
    background-color: black;
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
}

p {
    text-align: center;
    margin-top: 70px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 300px;
    height: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 0.548);
    font-size: 25px;
    font-weight: 800;
    position: relative;
    left: 790px;
    top: 50px;
    background-image: url(./img/360_F_243757367_gBpS6R5c8DB7pL5gw9gi9KXlzFfbdZOA.jpg);
    border: 0;
    border-radius: 50px 0px 50px 0px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 10px #192452 ;
    transition-duration: 1s;
}

button:hover {
    box-shadow: 0px 0px 10px 3px white;
    width: 302px;
    border-radius: 0px 50px 0px 50px;
    color: rgba(255, 255, 255, 0.788);
}